#Landing {
	background-color: $background_grey;
	padding-bottom: 95px;
}


.providence {
	@extend %shared;
	padding-top: 14px;
}

.help {
	padding-top: 9px;

	&__details a {
		@extend %a_details;
		display: inline-block;

		&:hover {
			@extend %a_background;
		}
	}

	&__button {
		@extend %buttonblue;
	}
}

.some__text {
	font: 20px $light-font;
	padding-top: 25px;
	color: $light_grey;
	width: 690px;
	text-align: center;
	margin: 0 auto;
}

.first__phone {
	position: relative;
	height: 500px;
	text-align: center;
	z-index: 1;
	padding-top: 50px;
}

.real {
	z-index: 2;
	background: url("../img/lock.png") no-repeat 0 45%;

	&__time {
		font: 26px $light-font;
		padding-bottom: 35px;
		padding-top: 320px;
	}

	&__time__text {
		font: 18px;
		color: $light_grey;
	}
}

.line::after {
	content: '';
	display: block;
	border-bottom: 1px solid $light_grey_max;
	padding-top: 75px;
	margin-bottom: 110px;
}

.bigPhone {
	img {
		@include size(auto);
		@include max-size(750px);
		position: relative;
		right: 150px;
	}
}

.protected {
	margin-top: 50px;

	&__header {
		@extend %prothead;
		margin-bottom: 20px;
	}

	&__text {
		@extend %prottext;
	}

	&__buttons {
		margin-top: 60px;

		.to__hack {
			@extend %hackbutton;
		}

		.learn__more {
			margin-left: 20px;
			@extend %learnbutton;
		}
	}
}

#ever {
	margin-bottom: 130px;
}

.everywhere {
	margin-top: 105px;

	&__header {
		@extend %everhead;
	}

	&__text {
		@extend %evertext;
	}

	&__partners img {
		margin-top: 20px;
		margin-right: 35px;
	}

	&__someth {
		font-size: 16px;
		color: $light_grey;
	}
}

.map {
	overflow-x: hidden;
	img {
		@include size(auto);
		@include max-size(640px);
		margin-top: 120px;

	}
}

.kit {
	padding-bottom: 30px;
	text-align: center;
	font: 32px $light-font;

	&__text {
		@extend %kitText;
	}

	&__stars {
		padding-top: 30px;
		text-align: center;
	}

	&__p {
		@extend %kitP;
	}
}

#perfect {
	background-color: $light_grey_max;
	padding: 150px 0;
}

.plan {
	&__choose {
		padding-bottom: 50px;
		font: 42px $varela-font;
	}

	&__textf {
		text-transform: uppercase;
		padding-bottom: 20px;
		font: 14px $heavy-font;
	}

	&__buttons {
		font: 14px $regular-font;

		a {
			font-size: 16px;
			color: black;
		}
	}

	&__text {
		font: 19px $regular-font;
		color: $light_grey;
		padding-top: 40px;
	}

	&__bigger {
		color: $light_grey;
		padding-top: 25px;
	}
}

.subscribe {
	margin-top: 90px;

	.interface__getIt__button {
		@extend %getButton;
	}

	&__promise {
		text-align: center;
		font-size: 14px;
		color: $light_grey;
		padding-bottom: 100px;
		padding-top: 30px;
	}
}
