@media screen and (max-width: 1199px) {
  $burger--thickness: 4px;

	.burger {
		display: inline-block;
		border: 0;
		background: none;
		outline: 0;
		padding: 0;
		cursor: pointer;

		border-bottom: $burger--thickness solid currentColor;
		width: 28px;

		transition: border-bottom 1s ease-in-out;

		&:before,
		&:after {
			content: "";
			display: block;
			border-bottom: $burger--thickness solid currentColor;
			width: 100%;
			margin-bottom: 5px;
			transition: transform 0.5s ease-in-out;
		}
	}

	.burger-check {
		display: none;
	}

	.burger-check:checked ~ .burger {
		border-bottom: $burger--thickness solid transparent;
		transition: border-bottom 0.8s ease-in-out;

		&:before {
			transform: rotate(-405deg) translateY(1px) translateX(-3px);
			transition: transform 0.5s ease-in-out;
		}

		&:after {
			transform: rotate(405deg) translateY(-4px) translateX(-5px);
			transition: transform 0.5s ease-in-out;
		}
	}

	// * * * Navigation * * *
	$navigation__transition: max-height 0.5s ease-in-out;

	.navigation {
		overflow: hidden;
		max-height: 0;

		transition: $navigation__transition;
	}

	.burger-check:checked ~ .navigation {
		max-height: 500px;
		transition: $navigation__transition;
	}
	.navbar{
		ul{
			display: block!important;
		}
	}


  .everywhere__text{
    font-size: 16px;
  }

  .protected__text{
    font-size: 16px;
  }

  .footerItems__text{
    font-size: 11px;
  }


}

@media screen and (max-width: 992px) {
  .real{
    margin-top: 150px;
    background: none;
    text-align: center;
  }

  .real2{
    margin-top: -25%;
    text-align: center;
  }

  .bigPhone img{
    @include size(auto);
    @include max-size(460px);
  }

  .protected{
    // padding-left: 10px;
    margin-top: -2%;
    &__text{
      font-size: 14px;
    }
  }

  .plan{
    text-align: center;
    &__text{
      font-size: 15px;
    }
  }
  .cards{
    margin-top: 55px;
  }

  // .interface__details{
  //   margin: 0 auto;
  // }
  .contacts{
    font-size: 12px;
  }
  .footerItems__text{
    font-size: 8px;
  }
}
@media screen and (max-width: 768px) {
  .some__text{
    width: 80%;
  }
  .bigPhone img{
    @include size(auto);
    @include max-size(360px);
  }

  .protected{
    // padding-left: 10px;
    margin-top: -20%;
    &__text{
      font-size: 12px;

    }
  }
  .everywhere{
    text-align: center;
  }

  .providence{


  }
  .footerItems__text{

  }

}
@media screen and (max-width: 576px) {

  .get__this{
    margin-top: -27%;
  }

  .first__phone img{
    @include size(auto);
    @include max-size(500px);
    margin-top: 100px;
    text-align: center;
  }
  .bigPhone img{
    @include size(auto);
    @include max-size(300px);
    opacity: 0.3;
  }
  .real{
    margin-top: -20%;
    &__time{
      margin-top: -38%;
    }

  }
  .fir {
    padding-top: 70px;
  }
  .interface__images img{
    margin: 0 auto;
    @include size(auto);
    @include max-size(400px);
  }

  .providence{
  text-align: center;
  padding-left: 18px;
  }
  .interface__details {
	margin: 0 auto;

  .last__det{
    margin-left: 11px;
  }

}
  .footerItems{
    &__text{
      text-align: center;
      font-size: 13px;
      margin-left: 18px;
    }
    &__items{
    text-align: center;
    margin-left: 25px;


    }
  }


}
