%button-link {
	border-radius: 20px;
	display: inline-block;
	font-size: 15px;
}

%buttonblue a {
	@extend %button-link;
	@include hover-blue;
	@include size(120px, 39px);
	line-height: 39px;
	background: $bluecolor url("../img/apple-icon.png") no-repeat 14% 41%;
	margin-left: 15px;
	margin-top: -3px;
	padding-left: 40px;
}

%greybutton a {
	@include hover-white;
	@include size(185px, 47px);
	color: $black;
	border-radius: 30px;
	border: 1px solid $grey;
	display: inline-block;
	text-align: center;
	line-height: 47px;
}

%hackbutton a {
	@extend %button-link;
	@include hover-blue;
	@include size(180px, 40px);
	line-height: 40px;
	padding-left: 26px;
	background: $bluecolor url("../img/arrow.png") no-repeat 92% 50%;
}

%learnbutton a {
	@extend %button-link;
	@include hover-white;
	@include size(120px, 40px);
	line-height: 38px;
	text-align: center;
	border: 1px solid $light_grey;
	color: $lightblack;
}

%prothead {
	padding-bottom: 25px;
	font: 40px $varela-font;
}

%prottext {
	font: 19px $light-font;
	color: $light_grey;
}

%a_details {
	height: 35px;
	padding: 0 12px;
	text-align: center;
	line-height: 35px;
}

%a_background {
	border-radius: 20px;
	background-color: $light_grey;
	color: $white;
}

%shared {
	text-transform: uppercase;
	color: $regularcolor;
}

%everhead {
	font: 42px $varela-font;
	margin-bottom: 55px;
}

%evertext {
	font: 19px $light-font;
	color: $light_grey;
	margin-bottom: 40px;
}

%int {
	font: 42px $varela-font;
	text-align: center;
	margin-top: 110px;
}

%land {
	text-transform: uppercase;
	text-align: center;
	font: 12px $heavy-font;
	color: $darken_grey;
	padding-bottom: 40px;
}

%getButton {
	margin-top: 40px;
	align-items: center;
	justify-content: center;
	input{

		position: relative;
		@include size(450px, 53px);
		border-radius: 30px;
		border: 1px solid $bordergrey;
		padding-left: 20px;
	}

	a{
		position: absolute;
		@include size(120px, 45px);
		padding-top: 11px;
		color: $white;
		margin-left: 160px;
		background-color: $green;
		border-radius: 30px;
		font-size: 14px;
		text-align: center;
	}

}

%greenButton {
	.invite {
		position: absolute;
		left: 650px;
		bottom: 5px;
		@extend %learnbutton;

		a {
			background: url("../img/arrow.png") no-repeat 92% 50%;
			@include size(150px, 43px);
			line-height: 43px;
			padding-right: 14px;
			background-color: $green;
			border: none;
			color: $white;

			&:hover {
				background-color: lighten(#91d07e, 5%);
			}
		}
	}
}

%helpButton2 {
	.help__button {
		text-align: center;

		a {
			@include size(180px, 55px);
			border-radius: 50px;
			line-height: 0.99em;
			font-size: 22px;
			background-color: $black;
			padding-top: 1px;
			background-size: 24px 29px;
			background-position-y: 12px;

			&:hover {
				background-color: lighten(#424245, 5%);
			}

			span {
				font-size: 12px;
				padding-left: 7px;
			}
		}
	}
}

%kitText {
	text-align: center;
	font-size: 17px;
	color: $light_grey;
}

%kitP {
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 120px;
	font: 12px $heavy-font;
}

%startbutton {
	@extend %hackbutton;
	padding-top: 80px;

	a {
		background: $bluecolor;
		padding-left: 0;
	}
}

%adaptiveBurger {
	// Burger menu button
	$burger--thickness: 4px;


	.burger {
		display: inline-block;
		border: 0;
		background: none;
		outline: 0;
		padding: 0;
		cursor: pointer;

		border-bottom: $burger--thickness solid currentColor;
		width: 28px;

		transition: border-bottom 1s ease-in-out;

		&:before,
		&:after {
			content: "";
			display: block;
			border-bottom: $burger--thickness solid currentColor;
			width: 100%;
			margin-bottom: 5px;
			transition: transform 0.5s ease-in-out;
		}
	}

	.burger-check {
		display: none;
	}

	.burger-check:checked ~ .burger {
		border-bottom: $burger--thickness solid transparent;
		transition: border-bottom 0.8s ease-in-out;

		&:before {
			transform: rotate(-405deg) translateY(1px) translateX(-3px);
			transition: transform 0.5s ease-in-out;
		}

		&:after {
			transform: rotate(405deg) translateY(-4px) translateX(-5px);
			transition: transform 0.5s ease-in-out;
		}
	}

	// * * * Navigation * * *
	$navigation__transition: max-height 0.5s ease-in-out;

	.navigation {
		overflow: hidden;
		max-height: 0;

		transition: $navigation__transition;
	}

	.burger-check:checked ~ .navigation {
		max-height: 500px;
		transition: $navigation__transition;
	}
	.navbar{
		ul{
			display: block!important;
		}
	}
}
