#carousel {
	width: 100%;

	.container {
		margin-top: 135px;
	}

	.slider-wrapper {
		width: 49%;
		margin: 55px auto 0 auto;
	}

	.slick-slider {
		img {
			@include size(auto);
			@include max-size(140px, 200px);
			margin: 0 auto;
			cursor: pointer;
		}
	}

	.prev-slide,
	.next-slide {
		img {
			height: 40px;
			cursor: pointer;
		}
	}
}
